
body {
  background-color: #333333;
}

#wrapper {
  padding-top: 10px;
  padding-left: 20%;
  padding-right: 20%;
  /*position: fixed;*/
  /*top: 10%*/
}

#output {
  background-color: black;
  color: grey;
  border: 1px solid white;
  /*text-align: center;*/
  padding: 5px;
  /*height: 600px;*/
  margin-bottom: 10px;
}

#output p {
  margin-bottom: 10px;
}

#output-test {
  background-color: black;
  color: grey;
  border: 1px solid white;
  padding: 5px;

  /*position:fixed;*/
  position:relative;
  z-index: 100;
  /*top:50%;*/
  /*left:50%;*/
  margin:auto;
  width:900px;
  height:900px;
}

#nav {
  margin-bottom: 10px;
}

#test-input {
  position:absolute;
  bottom: 5px;
  left: 5px;
  width: 795px;
}

#input {
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  /*position: absolute;*/
  /*bottom: 10px;*/
}

#input input {
  width: 100%;
}

#wtf div p{
  height: 300px;
}
